<div id="chat-container">
    <h3>Current Chat: {{ currentChat?.chatName }}</h3>
    <div id="write-chat">
        <input id="new-chat" type="text" #messageInput placeholder="Type your message here..." />
        <button class="btn btn-primary" (click)="postMessage(messageInput)">Post</button>
    </div>
    <div id="chat-area">
        @for (message of sortedMessages; track $index) {
            @if (message.username == currentUsername) {
                <p class="align-left"><strong>{{message.username}}:</strong> {{ message.message }}</p>
            } @else {
                <p class="align-right">{{message.username}}: {{ message.message }}</p>
            }
        }@empty {
            <p>No messages yet.</p>
        }
    </div>    
</div>
